.advantage__list {
    display: flex;
    padding: 94px 0px;
    gap: 30px;
}

.advantage__group {
    display: flex;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;

    background-color: var(--btn-filter-color);
}

.advantage__feature-icon {
    margin: auto;
}

.advantage__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    color: var(--text-color-main);
}

.advantage__text {
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    width: 270px;

    color: var(--text-color-secondary);
}