.client {
	padding-top: 94px;
	padding-bottom: 94px;
}

.clients__title {
	display: block;
	font-weight: 700;
	font-size: 28px;
	line-height: calc(33 / 28);
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;

	color: var(--text-color-main);

	@media screen and (min-width: 1200px) {
		font-size: 36px;
		line-height: calc(42 / 36);
	}
}

.client__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.client__link {
	color: var(--client-icon-color);

	transition: color var(--anim-main);
}

.client__group {
	display: flex;
	width: 210px;
	height: 92px;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--client-icon-color);
	border-radius: 4px;

	transition: border var(--anim-main);

	@media screen and (min-width: 768px) {
		width: 226px;
	}

	@media screen and (min-width: 1200px) {
		width: 170px;
	}
}

.client__icon {
	fill: currentColor;
}

.client__group:hover,
.client__group:focus {
	border-color: var(--color-accent);
}

.client__link:hover,
.client__link:focus {
	color: var(--color-accent);
}
