.backdrop {
	position: fixed;
	left: 0px;
	top: 0px;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.2);

	transition: opacity 150ms linear, visibility 150ms linear;
}

.backdrop.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.modal {
	display: flex;
	flex-direction: column;
	position: absolute;
	padding: 40px 40px;
	width: 450px;
	height: 609px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	background-color: var(--color-mdl-window);

	transition: transform 300ms ease, opacity 300ms ease;
}

.backdrop.is-hidden .modal {
	transform: translateX(-50%) translateY(-75%);
	opacity: 0;
}

.modal__btn-close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 8px;
	top: 8px;
	width: 30px;
	height: 30px;
	padding: 6px;
	cursor: pointer;

	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
}

.modal__icon-close {
	fill: 000000;
}

.modal__icon-close:hover {
	fill: var(--color-accent);
}

.modal__title {
	display: block;
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 20px;
	line-height: calc(23 / 20);
	text-align: center;
	letter-spacing: 0.03em;

	color: #212121;
}

.modal__form-group {
	display: flex;
	flex-direction: column;
}

.modal__label-form {
	/* display: block; */
	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.01em;

	margin-bottom: 4px;

	color: #757575;
}

.modal__input-field {
	position: relative;
	width: 100%;
	margin-bottom: 10px;
}

.modal__form-input {
	display: block;
	width: 100%;
	height: 40px;
	padding-left: 42px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: unset;
}

.modal__form-input:focus {
	border: 1px solid #2196f3;
	cursor: pointer;
}

.modal__icon-form {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	transform-origin: center;

	fill: #212121;
}

.modal__form-input:focus + .modal__icon-form {
	fill: #2196f3;
}

.modal__order-form-text {
	width: 100%;
	height: 120px;
	padding: 12px 16px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	margin-bottom: 20px;
	outline: unset;
}

.modal__order-form-text:focus {
	border: 1px solid #2196f3;
	cursor: pointer;
}

.modal__label-checkbox {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	gap: 8px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	user-select: none;

	color: #757575;
}

.uncheck {
	opacity: 1;
	transition: opacity var(--anim-main);
}

.modal__form-checkbox:checked + .modal__checkbox-icon .uncheck {
	opacity: 0;
}

.check {
	opacity: 0;
	transition: opacity var(--anim-main);
}

.modal__form-checkbox:checked + .modal__checkbox-icon .check {
	opacity: 1;
}

.modal__form-checkbox:focus + .modal__checkbox-icon {
	outline: auto;
	outline-offset: 1px;
	outline-color: #2360c5;
}

.modal__checkbox-link {
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	text-decoration-line: underline;
	text-underline-offset: 3px;

	color: #2196f3;
}

.modal__form-btn {
	margin-left: auto;
	margin-right: auto;
	padding: 10px 52px;
	width: 200px;
	height: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	background-color: #2196f3;

	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;

	color: #ffffff;
}

.modal__form-btn:hover,
.modal__form-btn:focus,
.modal__form-btn:active {
	background-color: #188ce8;
	cursor: pointer;
}
